# Text Processing

In [1]:
import pandas as pd
import numpy as np
from matplotlib import style
from matplotlib import pyplot as plt
#import graphviz as gr
%matplotlib inline
style.use("fivethirtyeight")
import matplotlib.pyplot as plt

#from google.colab import drive
#drive.mount('/content/drive')
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 60)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', 1000)

In [2]:
# Load text data files stored in a two-level folder structure and convert them into a dataframe
import pandas as pd
import numpy as np
from sklearn.datasets import load_files

files = load_files('animals-food-weather', encoding='utf-8')
  # without encoding='utf-8', text will be byte string
files

{'data': ['Love this blue and beautiful sky!',
  'The dog is lazy but the brown fox is quick!\r\n',
  'The brown fox is quick and the blue dog is lazy!',
  'The sky is very blue and the sky is very beautiful today',
  "A king's breakfast has sausages, ham, bacon, eggs, toast and beans\r\n",
  'The quick brown fox jumps over the lazy dog.',
  'The sky is blue and beautiful.',
  'I love green eggs, ham, sausages and bacon!'],
 'filenames': array(['C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\weather\\d2.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\animals\\d8.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\animals\\d6.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\weather\\d7.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\food\\d4.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\animals\\d3.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\weather\\d1.txt',
        'C:\\Babu\\PhD\\Adjunct_Faculty\\NorthEastern\\MISM 6212 Data Mining and Machine Learning\\Week9_TextMining\\animals-food-weather\\food\\d5.txt'],
       dtype='<U136'),
 'target_names': ['animals', 'food', 'weather'],
 'target': array([2, 0, 0, 2, 1, 0, 2, 1]),
 'DESCR': None}

In [3]:
text = files.data
text

['Love this blue and beautiful sky!',
 'The dog is lazy but the brown fox is quick!\r\n',
 'The brown fox is quick and the blue dog is lazy!',
 'The sky is very blue and the sky is very beautiful today',
 "A king's breakfast has sausages, ham, bacon, eggs, toast and beans\r\n",
 'The quick brown fox jumps over the lazy dog.',
 'The sky is blue and beautiful.',
 'I love green eggs, ham, sausages and bacon!']

In [4]:
target = files.target
target

array([2, 0, 0, 2, 1, 0, 2, 1])

In [5]:
textdf = pd.DataFrame({'Text': text, 'Target': target})
textdf['Category'] = textdf['Target'].apply(lambda x: 'animals' if x==0 else ('food' if x==1 else 'weather'))
textdf = textdf.drop('Target', axis='columns')
textdf.info()
textdf

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      8 non-null      object
 1   Category  8 non-null      object
dtypes: object(2)
memory usage: 256.0+ bytes

                                                Text Category
0                  Love this blue and beautiful sky!  weather
1    The dog is lazy but the brown fox is quick!\r\n  animals
2   The brown fox is quick and the blue dog is lazy!  animals
3  The sky is very blue and the sky is very beaut...  weather
4  A king's breakfast has sausages, ham, bacon, e...     food
5       The quick brown fox jumps over the lazy dog.  animals
6                     The sky is blue and beautiful.  weather
7        I love green eggs, ham, sausages and bacon!     food

In [6]:
# Tokenization: set to lower case and remove stop words,
from sklearn.feature_extraction.text import CountVectorizer
ctvec = CountVectorizer(lowercase=True, stop_words='english')

In [7]:
ctvec_sparse = ctvec.fit_transform(textdf.Text)
ctvec_sparse

<8x20 sparse matrix of type '<class 'numpy.int64'>'
	with 42 stored elements in Compressed Sparse Row format>

In [8]:
print(ctvec_sparse)   # sparse matrix

  (0, 14)	1
  (0, 3)	1
  (0, 2)	1
  (0, 17)	1
  (1, 6)	1
  (1, 13)	1
  (1, 5)	1
  (1, 8)	1
  (1, 15)	1
  (2, 3)	1
  (2, 6)	1
  (2, 13)	1
  (2, 5)	1
  (2, 8)	1
  (2, 15)	1
  (3, 3)	1
  (3, 2)	1
  (3, 17)	2
  (3, 19)	1
  (4, 12)	1
  (4, 4)	1
  (4, 16)	1
  (4, 10)	1
  (4, 0)	1
  (4, 7)	1
  (4, 18)	1
  (4, 1)	1
  (5, 6)	1
  (5, 13)	1
  (5, 5)	1
  (5, 8)	1
  (5, 15)	1
  (5, 11)	1
  (6, 3)	1
  (6, 2)	1
  (6, 17)	1
  (7, 14)	1
  (7, 16)	1
  (7, 10)	1
  (7, 0)	1
  (7, 7)	1
  (7, 9)	1

In [9]:
ctvec_dense = ctvec_sparse.toarray()
ctvec_dense   # dense matrix

array([[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1],
       [1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0]],
      dtype=int64)

In [10]:
# show term-document matrix
dictionary = ctvec.get_feature_names()
pd.DataFrame(ctvec_dense, columns=dictionary)

   bacon  beans  beautiful  blue  breakfast  brown  dog  eggs  fox  green  ham  jumps  king  lazy  love  quick  sausages  sky  toast  today
0      0      0          1     1          0      0    0     0    0      0    0      0     0     0     1      0         0    1      0      0
1      0      0          0     0          0      1    1     0    1      0    0      0     0     1     0      1         0    0      0      0
2      0      0          0     1          0      1    1     0    1      0    0      0     0     1     0      1         0    0      0      0
3      0      0          1     1          0      0    0     0    0      0    0      0     0     0     0      0         0    2      0      1
4      1      1          0     0          1      0    0     1    0      0    1      0     1     0     0      0         1    0      1      0
5      0      0          0     0          0      1    1     0    1      0    0      1     0     1     0      1         0    0      0      0
6      0      0          1     1          0      0    0     0    0      0    0      0     0     0     0      0         0    1      0      0
7      1      0          0     0          0      0    0     1    0      1    1      0     0     0     1      0         1    0      0      0

In [11]:
# show TFIDF matrix
from sklearn.feature_extraction.text import TfidfTransformer
tfidf = TfidfTransformer()
tfidf

TfidfTransformer()

In [12]:
tfidf_sparse = tfidf.fit_transform(ctvec_sparse)
tfidf_dense = tfidf_sparse.toarray()
pd.DataFrame(np.round(tfidf_dense, 2), columns=dictionary)

   bacon  beans  beautiful  blue  breakfast  brown   dog  eggs   fox  green   ham  jumps  king  lazy  love  quick  sausages   sky  toast  today
0   0.00   0.00       0.49  0.43       0.00   0.00  0.00  0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.57   0.00      0.00  0.49   0.00    0.0
1   0.00   0.00       0.00  0.00       0.00   0.45  0.45  0.00  0.45   0.00  0.00   0.00  0.00  0.45  0.00   0.45      0.00  0.00   0.00    0.0
2   0.00   0.00       0.00  0.37       0.00   0.42  0.42  0.00  0.42   0.00  0.00   0.00  0.00  0.42  0.00   0.42      0.00  0.00   0.00    0.0
3   0.00   0.00       0.36  0.32       0.00   0.00  0.00  0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00   0.00      0.00  0.72   0.00    0.5
4   0.32   0.38       0.00  0.00       0.38   0.00  0.00  0.32  0.00   0.00  0.32   0.00  0.38  0.00  0.00   0.00      0.32  0.00   0.38    0.0
5   0.00   0.00       0.00  0.00       0.00   0.38  0.38  0.00  0.38   0.00  0.00   0.53  0.00  0.38  0.00   0.38      0.00  0.00   0.00    0.0
6   0.00   0.00       0.60  0.53       0.00   0.00  0.00  0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00   0.00      0.00  0.60   0.00    0.0
7   0.39   0.00       0.00  0.00       0.00   0.00  0.00  0.39  0.00   0.47  0.39   0.00  0.00  0.00  0.39   0.00      0.39  0.00   0.00    0.0

In [13]:
# Compute TFIDF matrix directly
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfvec = TfidfVectorizer(lowercase=True, stop_words='english')
tfidfvec_sparse = tfidfvec.fit_transform(textdf.Text)
tfidfvec_dense = tfidfvec_sparse.toarray()
vocabulary = tfidfvec.get_feature_names()
pd.DataFrame(np.round(tfidfvec_dense, 2), columns=vocabulary)

   bacon  beans  beautiful  blue  breakfast  brown   dog  eggs   fox  green   ham  jumps  king  lazy  love  quick  sausages   sky  toast  today
0   0.00   0.00       0.49  0.43       0.00   0.00  0.00  0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.57   0.00      0.00  0.49   0.00    0.0
1   0.00   0.00       0.00  0.00       0.00   0.45  0.45  0.00  0.45   0.00  0.00   0.00  0.00  0.45  0.00   0.45      0.00  0.00   0.00    0.0
2   0.00   0.00       0.00  0.37       0.00   0.42  0.42  0.00  0.42   0.00  0.00   0.00  0.00  0.42  0.00   0.42      0.00  0.00   0.00    0.0
3   0.00   0.00       0.36  0.32       0.00   0.00  0.00  0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00   0.00      0.00  0.72   0.00    0.5
4   0.32   0.38       0.00  0.00       0.38   0.00  0.00  0.32  0.00   0.00  0.32   0.00  0.38  0.00  0.00   0.00      0.32  0.00   0.38    0.0
5   0.00   0.00       0.00  0.00       0.00   0.38  0.38  0.00  0.38   0.00  0.00   0.53  0.00  0.38  0.00   0.38      0.00  0.00   0.00    0.0
6   0.00   0.00       0.60  0.53       0.00   0.00  0.00  0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00   0.00      0.00  0.60   0.00    0.0
7   0.39   0.00       0.00  0.00       0.00   0.00  0.00  0.39  0.00   0.47  0.39   0.00  0.00  0.00  0.39   0.00      0.39  0.00   0.00    0.0